supabase
twilio
requests
python-dotenv
Flask
flask_cors
Flask-Limiter
websockets
flask-sock
openai
gunicorn
langchain-core
google-api-python-client
google-auth
google-auth-oauthlib
hubspot-api-client
cryptography
flask_sock
